doctype html
html
  head
    title= "Location"
  body
    h2 Chase Miller - Location Data
    form(action='/api/location', method='POST')
      label= "Lat "
      input(type='number', name='lat', value='0')
      br
      br

      label= "Long "
      input(type='number', name='long', value='0')
      br
      br

      label= "Address "
      input(type='text', name='address', value='')
      br
      br

      label= "Num visits "
      input(type='number', name='numVisits', value='1')
      br
      br
        
      label= "API Key "
      input(type="text", name="key")
      br
      br

      input(type='submit')
